<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Page</title>
    <link rel="stylesheet" href="static/css/service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Floating particles background -->
    <div class="particles">
        <div class="particle" style="left: 10%; animation-delay: 0s;"></div>
        <div class="particle" style="left: 20%; animation-delay: 1s;"></div>
        <div class="particle" style="left: 30%; animation-delay: 2s;"></div>
        <div class="particle" style="left: 40%; animation-delay: 3s;"></div>
        <div class="particle" style="left: 50%; animation-delay: 4s;"></div>
        <div class="particle" style="left: 60%; animation-delay: 5s;"></div>
        <div class="particle" style="left: 70%; animation-delay: 6s;"></div>
        <div class="particle" style="left: 80%; animation-delay: 7s;"></div>
        <div class="particle" style="left: 90%; animation-delay: 0.5s;"></div>
    </div>
    
    <nav>
        <div class="company-name">
            <h1>GUARDIAN <span class="highlight">ANGEL</span> STUDIO<span class="dot"></span></h1>
        </div>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="service.html">service</a></li>
            <li><a href="contacts.html">contact</a></li>
            <li><a href="shop.html">shop</a></li>
            <li><a href="search.html"><i class="fas fa-search"></i></a></li>
            <li><a href="#" class="cart-button"><i class="fas fa-shopping-cart"></i><span class="cart-count" style="display: none;">0</span></a></li>
        </ul>
    </nav>

    
    <div class="carousel">

        <div class="list">
<div class="item" style="background-image: url(static/images/domain_hosting.png);">
                <div class="content">
                    <div class="title">DOMAIN</div>
                    <div class="name">& HOSTING</div>
                    <div class="des"><li>Domain name registration</li>
                        <li>Transfer Domain Name</li>
                        <li>Corporate Services </li>
                        <li>Wordpress NVMe Hosting</li>
                        <li>VPS Hosting</li>
                        <li>Windows .Net Core Hosting</li>
                        <li>Windows NVMe Web Hosting</li>
                        <li>Dedicated Hosting</li>
                        <li>Cloud Hosting </li>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(static/images/development.png);">
                
                <div class="content">
                    <div class="title">Development</div>
                    <div class="name"></div>
                    <div class="des">
                        <li>Web Applications</li>
                        <li>Mobile Applications</li>
                        <li>Software Development</li>
                        <li>Enterprise Software Development</li>
                        <li>UX/UI Designing</li>
                        <li>Hire Software Developers</li>
                        <li>Offshore Outsourcing</li>
                        <li>On-Demand App Development</li>
                        <li>Cryptocurrency App Development</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/marketing.png);">

                <div class="content">
                    <div class="title">MARKETING</div>
                    <div class="name">CROW</div>
                    <div class="des">
                        <li>Digital Marketing</li>
                        <li>SEO Services</li>
                        <li>Social Media Marketing</li>
                        <li>Google Ads</li>
                        <li>Facebook Ads</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/email.png);">

                <div class="content">
                    <div class="title">EMAIL</div>
                    <div class="name"></div>
                    <div class="des">
                        <li>Business Email Hosting</li>
                        <li>Email Only Hosting</li>
                        <li>Bulk SMTP Services</li>
                        <li>Prepaired Bulk SMTP</li>
                        <li>Microsoft Office 365</li>
                        <li>Microsoft Teams Integration</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/design.png);">

                <div class="content">
                    <div class="title">Design</div>
                    <div class="name">OWL</div>
                    <div class="des">
                        <li>Website Designing</li>
                        <li>Branding Services</li>
                        <li>E-commerce store Design</li>
                        <li>Explainer Video</li>
                        <li>Web Support & Maintenance</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/cybersecurity.png);">

                <div class="content">
                    <div class="title">Cyber </div>
                    <div class="name">Security</div>
                    <div class="des">
                        <li>Managed Security Services (MSS)</li>
                        <li>Email & Web Security</li>
                        <li>Incident Response & Recovery</li>
                        <li>Security Awareness Training</li>
                        <li>Network Security</li>
                        <li>Security Consulting</li>
                        <li>Endpoint Security</li>
                        <li>Cyber Insurance</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/sound.png);">

                <div class="content">
                    <div class="title">PROFESSIONAL SOUND</div>
                    <div class="name">HIRE</div>
                    <div class="des">
                        <li>Corporate event sound</li>
                        <li>Wedding & Private Events</li>
                        <li>Party Events</li>
                        <li>Funeral Services</li>
                        <li>Churches & Conferences</li>
                        <li>Birthday parties</li>
                        <li>Outdoor Gatherings</li>
                        <li>Umbembeso and Unveiling</li>
                        <li>Schools functions Meeting</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/ai.png);">

                <div class="content">
                    <div class="title">AI &</div>
                    <div class="name">MACHINE LEARNING</div>
                    <div class="des">
                        <li>AI Model Development</li>
                        <li>Machine Learning Solutions</li>
                        <li>Chatbot Development</li>
                        <li>Data Analysis & Prediction</li>
                        <li>Computer Vision & NLP</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/photographer.png);">

                <div class="content">
                    <div class="title">PHOTOGRAPHY</div>
                    <div class="name"></div>
                    <div class="des">
                        <li>Event Photography</li>
                        <li>Portrait Photography</li>
                        <li>Commercial Photography</li>
                        <li>Fashion Photography</li>
                        <li>Editorial Photography</li>
                        <li>Lifestyle Photography</li>
                        <li>Aerial Photography</li>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(static/images/job_placement.png);">

                <div class="content">
                    <div class="title">PLACEMENT & PROJECT</div>
                    <div class="name">MANAGEMENT</div>
                    <div class="des">
                        <li>Job Placement Assistance</li>
                        <li>Project Planning & Execution</li>
                        <li>Resource Allocation</li>
                        <li>Freelance Project Management</li>
                        <li>Development of business plans</li>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(static/images/technical_support.png);">

                <div class="content">
                    <div class="title">TECHNICAL SUPPORT</div>
                    <div class="name">SERVICES</div>
                    <div class="des">
                        <li>Device Management</li>
                        <li>IT Support and Helpdesk</li>
                        <li>Data Backup & Recovery</li>
                        <li>Broken Glass and LCD</li>
                        <li>Custom Build PC</li>
                        <li> Complete Computer Setup</li>
                        <li>Operating System Issues</li>
                        <li>Software Installation & Troubleshooting</li>
                        <li>Virus Removal & Security Help</li>
                    </div>
                </div>

            </div>

                <div class="item" style="background-image: url(static/images/videography.png);">

                <div class="content">
                    <div class="title">VIDEOGRAPHY</div>
                    <div class="name">SERVICES</div>
                    <div class="des">
                        <li>Event Videography</li>
                        <li>Document Videography</li>
                        <li>Studio & Outdoor Shoots</li>
                        <li>Live Streaming</li>
                        <li>Video Editing & Post-Production</li>
                        <li>Corporate Videos</li>
                        <li>Marketing & Promo Videos</li>
                        <li>Social Media Content</li>
                        <li>Real Estate Videography</li>
                    </div>
                </div>

            </div>

        </div>
      
        <div class="timeRunning"></div>
    </div>
    <script src="static/js/service.js"></script>
</body>
<footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="static/css/PHOTO-2025-07-28-13-29-45.jpg" alt="Guardian Angel Studio Logo">
            </div>

            <div class="footer-info">
                <h4>Let's Talk About</h4>
                <p>We specialize in developing innovative technological solutions for businesses of all sizes, and our team of experienced professionals is committed to providing you with the best possible service and products.</p>
            </div>

            <div class="footer-about">
                <h4>About Us</h4>
                <ul>
                    <li>About</li>
                    <li>Projects</li>
                    <li>Process</li>
                    <li>Clients</li>
                    <li>Our Leadership Team</li>
                    <li>Careers</li>
                </ul>
            </div>

            <div class="footer-services">
                <h4>Services</h4>
                <ul>
                    <li>Design</li>
                    <li>Professional Sound Hire</li>
                    <li>Cyber Security</li>
                    <li>Domain & Hosting</li>
                    <li>Development</li>
                    <li>Marketing</li>
                    <li>Email</li>
                    <li>Photography</li>
                    <li>AI & Machine Learning</li>
                    <li>Placement & Project Management</li>
                    <li>Technical Support Services</li>
                    <li>Videography</li>
                </ul>
            </div>

            <div class="social-icons">
                <h4>Connect</h4>
                <div class="social-links">
                    <a href="https://wa.me/message/GND3LQDQJL22I1" class="whatsapp" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="mailto:info@guardian-angelstudios.co.za" class="email" aria-label="Email">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        
    </footer>

</html>